// --- NAVIGATION MAIN -- //
app-navigation-main {
  position: fixed;
  width: 100%;
  background-color: darkslategray;
  margin: 0;
  z-index: $header-z-index;

  div {
    margin: 0 10px;

    .element {
      display: inline-block;
      margin: 0;

      a {
        color: #A9BFD4;
        font-variant: small-caps;
        display: block;
        padding: 5px 20px 0;

        &:hover, &:active, &:focus {
          color: #A9BFD4;
          text-decoration: none;
        }
      }
      .marker {
        height: 1px;
        margin-right: 5px;
        margin-left: 5px;
        margin-bottom: 5px;
        background-color: darkslategray;
        transition: background-color 0.5s ease;
        display: block;
      }

      .divider-vertical {
        margin: 5px 5px;
        display: block;
        width: 1px;
        height: 100%;
        background-color: dodgerblue;
      }

      &:hover {
        .marker {
          background-color: dodgerblue;
        }
      }

      &.active {
        .marker {
          background-color: deepskyblue;
        }
      }
    }
  }
}
