app-page-makarov-chain {

  button {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    transition: .5s;

    &:hover {
      background-color: #aaffaa;
    }

    &[disabled] {
      background-color: #d3d3d3;
    }
  }

  select {
    display: inline-block;
  }

  .description {
    height: auto !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }


}
