app-page-home {
    display: block;
    width: 100%;
}

@media (min-width: $breakpoint-lg) {
    app-page-home {
        .outside {
            padding-left: 3%;
            padding-right: 3%;
        }
    }
}