app-page-decoder {

  input[type=button] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    transition: .5s;

    &:hover {
      background-color: #aaffaa;
    }

    &[disabled] {
      background-color: #d3d3d3;
    }
  }

  .description {
    height: auto !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: 0;
  }

  .filter-toggle {
    padding: 5px;
    border: 1px solid #000;
    background-color: #d64d4d;

    &:first-child {
      -webkit-border-top-left-radius: 3px;
      -webkit-border-bottom-left-radius: 3px;
      -moz-border-radius-topleft: 3px;
      -moz-border-radius-bottomleft: 3px;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
    }

    &:last-child {
      -webkit-border-top-right-radius: 3px;
      -webkit-border-bottom-right-radius: 3px;
      -moz-border-radius-topright: 3px;
      -moz-border-radius-bottomright: 3px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
    }

    &.active {
      background-color: #aaffaa;
    }
  }

  .definition {
    font-size: 0;
    padding: 0;
    transition: 0.3s ease;

    &.visible {
      font-size: 12px;
      padding: 5px 5px 10px;
    }
  }
}
