app-section-header {
  display: block;
  width: 100%;
  border-bottom: 1px solid $clr-tri-010-100;
  z-index: $header-z-index;

  .outside {
    background-color: darkslategray;
    border-bottom: 1px solid $clr-white;
  }
}

@media (min-width: $breakpoint-lg) {
  app-section-header {
    .outside {
      padding: 0 5px;
    }
  }
}
