app-section-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: darkslategray;
  text-align: center;

  .outside {
    height: 100%;
    width: 100%;
    padding: 0 50px;

    .inside {
      padding: 50px 0 5px;
      margin-bottom: 0;
      width: 100%;
    }
  }
}
