<div class="row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-3"></div>
    <div class="form-group col-md-8 col-lg-6">
        <div class="col-xs-12">
            <div class="form-control description">
                <h4>
                    Description
                    <button
                        (click)="togglePageDescription()"
                        class="btn btn-default btn-sm pull-right">
                        <i class="fa"
                           [ngClass]="{'fa-window-maximize':!pageDescriptionVisible,'fa-window-minimize':pageDescriptionVisible}"></i>
                    </button>
                </h4>
                <div *ngIf="pageDescriptionVisible">
                    <p>
                        This little tool tests all possibilities of a given morse-code. But your code in the left box
                        and the
                        maximum letter length in the right box. (ie: <b>a</b> -> <b>|.-|</b> = <b>2</b>, <b>1</b> -> <b>|.----|</b> = <b>5</b>).
                        If you want to exclude numbers from your search, put in a letter length of 4.
                    </p>
                    <p>
                        You can reset all values to their default, by Right-Clicking them.
                    </p>
                    <p>
                    <span class="text-danger">
                        <i class="fa fa-exclamation-triangle"></i>
                        Caution:
                    </span>
                        Long codes will take quite some time to compute. If you want to get results WAY faster,
                        turn on the Filter <b>Markov Chain</b> this will eliminate possible results, but speeds up the
                        process enormously. But be careful with the precision slider.
                        The base for the mk-chain was the complete english dictionary without repetition.
                    </p>
                </div>
                <hr>
                <h4>
                    Planed
                    <button
                      (click)="togglePlanedFeatures()"
                      class="btn btn-default btn-sm pull-right">
                        <i class="fa" [ngClass]="{'fa-window-maximize':!planedFeaturesVisible,'fa-window-minimize':planedFeaturesVisible}"></i>
                    </button>
                </h4>
                <div *ngIf="planedFeaturesVisible">
                    <small>
                        <dl class="dl-horizontal">
                            <dt>Prefix-Prune</dt>
                            <dd>
                                Pruning results if the output is no valid English prefix
                            </dd>
                            <dt>Full-Text</dt>
                            <dd>
                                Possibility to decode a very long morse code to a text with spaces, that makes sense (if
                                desired)
                            </dd>
                            <dt>Multi-Language</dt>
                            <dd>
                                Pretty obvious ...
                            </dd>
                        </dl>
                    </small>
                </div>
            </div>
        </div>

        <div class="input-group">
            <div class="input-group-addon">
                <input
                    [(ngModel)]="code"
                    (keyup)="validate()"
                    (contextmenu)="setDefaultCode($event)"
                    value="{{code}}"
                    type="text"
                    id="input-code"
                    placeholder="Morse Code"
                    class="form-control">
            </div>
            <div class="input-group-addon">
                <input
                    [(ngModel)]="letterLength"
                    (keyup)="validate()"
                    (contextmenu)="setDefaultLetterLength($event)"
                    value="{{letterLength}}"
                    type="number"
                    min="1"
                    max="5"
                    id="input-length"
                    placeholder="Letter Length"
                    class="form-control">
            </div>
        </div>

        <div class="col-xs-12 well">
            <div>
                <span>Available Filter</span>
                <small>
                    <b>English</b> might have a huge negative performance impact.
                </small>
                <div>

                    <button class="col-xs-12 col-sm-4 filter-toggle" [ngClass]="{'active': bMcDictActivated}"
                            (click)="toggleMcDictionary()">
                        Markov Chain ({{precision}})
                    </button>

                    <button class="col-xs-12 col-sm-4 filter-toggle" [ngClass]="{'active': bWbDictActivated}"
                            (click)="toggleWbDictionary()">
                        Webster's
                    </button>

                    <button class="col-xs-12 col-sm-4 filter-toggle" [ngClass]="{'active': bEnDictActivated}"
                            (click)="toggleEnDictionary()">
                        English
                    </button>

                    <div *ngIf="bMcDictActivated">
                        <br><br>
                        <hr>

                        <input
                            [(ngModel)]="precision"
                            (contextmenu)="setDefaultPrecision($event)"
                            type="range"
                            value="0.3"
                            min="0"
                            max="1"
                            step="0.001"
                            title="{{precision}}"
                        />
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-12">
            <input [attr.disabled]="ready ? null : true" type="button" id="button-submit" class="form-control" value="Calc"
                   (click)="calc()">
        </div>
    </div>
</div>

<div class="row">
    <div class="hidden-xs hidden-sm col-md-2 col-lg-3"></div>
    <div class="col-xs-12 col-md-8 col-lg-6">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td colspan="4" align="center">
                        <span class="pull-left" *ngIf="results.length != 0" (change)="resetPageIndex();cropResults()">
                            <select [(ngModel)]="pageLength">
                                <option *ngFor="let possiblePageLength of possibleLengths; let i = index" value="{{possiblePageLength | number}}">{{possiblePageLength}}</option>
                            </select>
                        </span>

                        <span *ngIf="results.length != 0">
                            {{possibleMatches}} results in {{consumedTime/1000}}s
                        </span>

                        <span *ngIf="results.length != 0" class="pull-right">


                            <button class="btn btn-sm" (click)="gotoPage(0)" [attr.disabled]="pageIndex > 1 ? null : true">
                                <i class="fa fa-angle-double-left"></i>
                            </button>
                            <button class="btn btn-sm" (click)="pageDown()" [attr.disabled]="pageIndex > 0 ? null : true">
                                <i class="fa fa-angle-left"></i>
                            </button>

                            <span class="btn btn-sm" (click)="toggleSetPage()" *ngIf="!bSetPage">
                                <span>
                                    {{zeroPad(pageIndex+1, (maxPageIndex+1).toString().length)}}
                                </span>
                            </span>
                            <span *ngIf="bSetPage">
                                <input type="text" size="1" (keyup)="checkPage($event)" [(ngModel)]="wantedPage"/>
                            </span>
                            <span class="btn-sm">/ {{maxPageIndex + 1}}</span>

                            <button class="btn btn-sm" (click)="pageUp()" [attr.disabled]="pageIndex === maxPageIndex ? true : null">
                                <i class="fa fa-angle-right"></i>
                            </button>
                            <button class="btn btn-sm" (click)="gotoPage(maxPageIndex)" [attr.disabled]="pageIndex >= maxPageIndex - 1 ? true : null">
                                <i class="fa fa-angle-double-right"></i>
                            </button>

                        </span>
                    </td>
                </tr>
            </thead>

            <tbody>
            <tr>
                <th class="col-xs-2" style="text-align: center">#</th>
                <th style="text-align: center">Word</th>
                <th style="text-align: center">Code</th>
                <th></th>
            </tr>
            </tbody>
            <tbody *ngFor="let result of results; let i = index">
                <tr>
                    <td>{{zeroPad((pageIndex * pageLength) + i + 1, ((pageIndex * pageLength) + results.length).toString().length)}}</td>
                    <td>{{result.word}}</td>
                    <td>{{result.code}}</td>
                    <td align="right">
                        <button (click)="toggleDefinition(i)" [ngClass]="{'hidden': !result.definition}" class="btn btn-sm">
                            <i class="fa" [ngClass]="{'fa-angle-up': result.definitionVisible, 'fa-angle-down': !result.definitionVisible}"></i>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td colspan="4" class="definition" [ngClass]="{'visible': result.definitionVisible}">
                        {{result.definition}}
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>
                    </td>
                    <td colspan="3">
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
