<div class="pull-left">
  <div routerLinkActive="active" class="element">
    <a [routerLink]="['/home']">
      Home
    </a>
    <div class="marker"></div>
  </div>

  <div class="element">
    <div class="divider-vertical">&nbsp;</div>
  </div>

  <div routerLinkActive="active" class="element">
    <a [routerLink]="['/decoder']" title="Decoder">
      <i class="fa fa-random" aria-hidden="true"></i>
      Decoder
    </a>
    <div class="marker"></div>
  </div>

  <div routerLinkActive="active" class="element">
    <a [routerLink]="['/makarov-chain']" title="Makarov Chain">
      <i class="fa fa-link" aria-hidden="true"></i>
      Makarov
    </a>
    <div class="marker"></div>
  </div>
</div>

<div class="pull-right">

  <div class="element">
    <div class="divider-vertical">&nbsp;</div>
  </div>

  <div routerLinkActive="active" class="element">
    <a href="https://bitbucket.org/ninesundevelopment/morse-decoder" target="_blank" title="BitBucket Repository">
      <i class="fa fa-bitbucket" aria-hidden="true"></i>
    </a>
    <div class="marker"></div>
  </div>
</div>
