<div class="outside">
    <div class="inside">
        <div style="text-align: center; font-size: 90%">
            <span>
                Made with
                <a target="_blank" href="https://getbootstrap.com">Bootstrap V3</a>.
                Morse-Decoder by
                <a target="_blank" href="http://cs.stackexchange.com/a/34081">Aaron Dufour (StackExchange)</a>
            </span>
        </div>
    </div>
</div>
