html {
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 120px;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.invisible {
  display: none;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}

.float_right {
  float: right;
}

.float_left {
  float: left;
}

.clr-pri {
  color: $clr-pri-100-100;
}

.clr-sec {
  color: $clr-sec-100-100;
}

.uppercase {
  text-transform: uppercase;
}

.img-responsive {
  img {
    width: 100%;
    height: auto;
  }
}

.img-responsive-75 {
  text-align: center;
  img {
    width: 75%;
    height: auto;
  }
}

.img-responsive-50 {
  text-align: center;
  img {
    width: 50%;
    height: auto;
  }
}

img {
  @include borderRadius(5px);
}

.border-pri {
  border: 1px solid $clr-pri-100-100;
}

.border-sec {
  border: 1px solid $clr-sec-100-100;
}

.border-tri {
  border: 1px solid $clr-tri-100-100;
}



.well {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;

  border: 1px solid #CCCCCC;
  background-color: #fff;

  margin-bottom: 0;
}

button {
  &:focus {
    outline: 0 !important;
  }
}
