// --- HEIGHTS --- //

// REGULAR //
.height-0 {
    height: 0;
}

@for $i from 1 through 20 {
    .height-#{$i * 20} {
        height: $i * 20px;
    }
}

// COL XS //
@media (min-width: $breakpoint-xs) {
    .height-xs-0 {
        height: 0;
    }

    @for $i from 1 through 20 {
        .height-xs-#{$i * 20} {
            height: $i * 20px;
        }
    }
}

// COL SM //
@media (min-width: $breakpoint-sm) {
    .height-sm-0 {
        height: 0;
    }

    @for $i from 1 through 20 {
        .height-sm-#{$i * 20} {
            height: $i * 20px;
        }
    }
}

// COL MD //
@media (min-width: $breakpoint-md) {
    .height-md-0 {
        height: 0;
    }

    @for $i from 1 through 20 {
        .height-md-#{$i * 20} {
            height: $i * 20px;
        }
    }
}

// COL LG //
@media (min-width: $breakpoint-lg) {
    .height-lg-0 {
        height: 0;
    }

    @for $i from 1 through 20 {
        .height-lg-#{$i * 20} {
            height: $i * 20px;
        }
    }
}

