// --- MARGINS --- //

// REGULAR //
.marg-0 {
    margin: 0;
}

@for $i from 1 through 20 {
    .marg-t#{$i * 5} {
        margin-top: $i * 5px;
    }
}

@for $i from 1 through 20 {
    .marg-r#{$i * 5} {
        margin-right: $i * 5px;
    }
}

@for $i from 1 through 20 {
    .marg-b#{$i * 5} {
        margin-bottom: $i * 5px;
    }
}

@for $i from 1 through 20 {
    .marg-l#{$i * 5} {
        margin-left: $i * 5px;
    }
}

// COL XS //
@media (min-width: $breakpoint-xs) {
    .marg-xs-0 {
        margin: 0;
    }

    @for $i from 1 through 20 {
        .marg-xs-t#{$i * 5} {
            margin-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-xs-r#{$i * 5} {
            margin-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-xs-b#{$i * 5} {
            margin-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-xs-l#{$i * 5} {
            margin-left: $i * 5px;
        }
    }
}

// COL SM //
@media (min-width: $breakpoint-sm) {
    .marg-sm-0 {
        margin: 0;
    }

    @for $i from 1 through 20 {
        .marg-sm-t#{$i * 5} {
            margin-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-sm-r#{$i * 5} {
            margin-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-sm-b#{$i * 5} {
            margin-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-sm-l#{$i * 5} {
            margin-left: $i * 5px;
        }
    }
}

// COL MD //
@media (min-width: $breakpoint-md) {
    .marg-md-0 {
        margin: 0;
    }

    @for $i from 1 through 20 {
        .marg-md-t#{$i * 5} {
            margin-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-md-r#{$i * 5} {
            margin-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-md-b#{$i * 5} {
            margin-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-md-l#{$i * 5} {
            margin-left: $i * 5px;
        }
    }
}

// COL LG //
@media (min-width: $breakpoint-lg) {
    .marg-lg-0 {
        margin: 0;
    }

    @for $i from 1 through 20 {
        .marg-lg-t#{$i * 5} {
            margin-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-lg-r#{$i * 5} {
            margin-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-lg-b#{$i * 5} {
            margin-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .marg-lg-l#{$i * 5} {
            margin-left: $i * 5px;
        }
    }
}