// --- PADDINGS --- //

// REGULAR //
.pad-0 {
    padding: 0;
}

@for $i from 1 through 20 {
    .pad-t#{$i * 5} {
        padding-top: $i * 5px;
    }
}

@for $i from 1 through 20 {
    .pad-r#{$i * 5} {
        padding-right: $i * 5px;
    }
}

@for $i from 1 through 20 {
    .pad-b#{$i * 5} {
        padding-bottom: $i * 5px;
    }
}

@for $i from 1 through 20 {
    .pad-l#{$i * 5} {
        padding-left: $i * 5px;
    }
}

// COL XS //
@media (min-width: $breakpoint-xs) {
    .pad-xs-0 {
        padding: 0;
    }

    @for $i from 1 through 20 {
        .pad-xs-t#{$i * 5} {
            padding-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-xs-r#{$i * 5} {
            padding-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-xs-b#{$i * 5} {
            padding-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-xs-l#{$i * 5} {
            padding-left: $i * 5px;
        }
    }
}

// COL SM //
@media (min-width: $breakpoint-sm) {
    .pad-sm-0 {
        padding: 0;
    }

    @for $i from 1 through 20 {
        .pad-sm-t#{$i * 5} {
            padding-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-sm-r#{$i * 5} {
            padding-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-sm-b#{$i * 5} {
            padding-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-sm-l#{$i * 5} {
            padding-left: $i * 5px;
        }
    }
}

// COL MD //
@media (min-width: $breakpoint-md) {
    .pad-md-0 {
        padding: 0;
    }

    @for $i from 1 through 20 {
        .pad-md-t#{$i * 5} {
            padding-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-md-r#{$i * 5} {
            padding-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-md-b#{$i * 5} {
            padding-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-md-l#{$i * 5} {
            padding-left: $i * 5px;
        }
    }
}

// COL LG //
@media (min-width: $breakpoint-lg) {
    .pad-lg-0 {
        padding: 0;
    }

    @for $i from 1 through 20 {
        .pad-lg-t#{$i * 5} {
            padding-top: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-lg-r#{$i * 5} {
            padding-right: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-lg-b#{$i * 5} {
            padding-bottom: $i * 5px;
        }
    }

    @for $i from 1 through 20 {
        .pad-lg-l#{$i * 5} {
            padding-left: $i * 5px;
        }
    }
}