// --- VARIABLES --- //

// BREAKPOINTS //
$breakpoint-xs:  480px;
$breakpoint-sm:  768px;
$breakpoint-md:  992px;
$breakpoint-lg: 1200px;

// COLORS //
$clr-pri-100-100: rgba(212, 30, 53,1.0);
$clr-pri-080-100: rgba(220, 75, 93,1.0);
$clr-pri-060-100: rgba(228,127,140,1.0);
$clr-pri-040-100: rgba(234,173,181,1.0);
$clr-pri-020-100: rgba(241,214,217,1.0);
$clr-pri-010-100: rgba(255,230,230,1.0);

$clr-sec-100-100: rgba(255, 55,  0,1.0);
$clr-sec-080-100: rgba(255,107, 66,1.0);
$clr-sec-060-100: rgba(255,160,134,1.0);
$clr-sec-040-100: rgba(255,199,183,1.0);
$clr-sec-020-100: rgba(255,230,223,1.0);

$clr-tri-100-100: rgba( 50, 50, 50,1.0);
$clr-tri-080-100: rgba( 90, 90, 90,1.0);
$clr-tri-060-100: rgba(130,130,130,1.0);
$clr-tri-040-100: rgba(170,170,170,1.0);
$clr-tri-020-100: rgba(210,210,210,1.0);
$clr-tri-010-100: rgba(230,230,230,1.0);
$clr-tri-005-100: rgba(242,242,242,1.0);

$clr-white: rgba(255,255,255,1.0);
$clr-black: rgba( 30, 30, 30,1.0);

// HEADER
$header-z-index: 1000;

// CONTENT
$content-z-index: 0;
