<div class="row">
  <div class="hidden-xs hidden-sm col-md-2 col-lg-3"></div>
  <div class="form-group col-md-8 col-lg-6">
    <div class="col-xs-12">
      <div class="form-control description">
        <h4>
          Description
          <button
              (click)="togglePageDescription()"
              class="btn btn-default btn-sm pull-right">
            <i class="fa"
               [ngClass]="{'fa-window-maximize':!pageDescriptionVisibleVisible,'fa-window-minimize':pageDescriptionVisible}"></i>
          </button>
        </h4>
        <div *ngIf="pageDescriptionVisible">
          <p>
            This is a little tool to get a simple makarov-chain matrix(26x26). Just select <b>learn</b>, input the base text
            and then hit download. If you want to test the matrix you can select <b>check</b>, input your matrix file and
            the word you want to check against the matrix.
          </p>
          <p>
            <span class="text-danger">
                <i class="fa fa-exclamation-triangle"></i>
                Caution:
            </span>
            A very long text may freeze your browser.
          </p>
        </div>
        <hr>
        <h4>
          Planed
          <button
              (click)="togglePlanedFeatures()"
              class="btn btn-default btn-sm pull-right">
            <i class="fa"
               [ngClass]="{'fa-window-maximize':!planedFeaturesVisible,'fa-window-minimize':planedFeaturesVisible}"></i>
          </button>
        </h4>
        <div *ngIf="planedFeaturesVisible">
          <small>
            <dl class="dl-horizontal">
              <dt>Higher Order</dt>
              <dd>
                Makarov Chains can have a different order, ie. over how much letters they span. This will enhance the
                precision greatly.
              </dd>
              <dt>Multi-Language</dt>
              <dd>
                Pretty obvious ...
              </dd>
            </dl>
          </small>
        </div>
      </div>
    </div>

    <div class="col-xs-12 well">
      <div class="input-group">
          <span class="input-group-addon">
            Select Operation
          </span>
        <select
            [(ngModel)]="inputMethod"
            id="select-input-method"
            class="form-control"
            title="Select Input Method">
          <option value="{{0 | number}}">Learn</option>
          <option value="{{1 | number}}">Check</option>
        </select>
      </div>

      <br>

      <div>
          <textarea
              [(ngModel)]="inputText"
              class="form-control col-xs-12"
              title="Input Learning Text"
          ></textarea>

        <div *ngIf="inputMethod == 1" class="input-group">
            <span class="input-group-addon">
              Select Matrix
            </span>
          <input
              (change)="readFile($event)"
              type="file"
              class="form-control col-xs-12"
              accept="text/*"
          />
        </div>
        <input
            *ngIf="inputMethod == 1"
            [(ngModel)]="precision"
            type="range"
            value="30"
            title="{{precision}}"
            class="form-control"
        />
      </div>
    </div>

    <div class="col-xs-12">

      <div
          [ngClass]="{'hidden': inputMethod != 0}"
          class="btn-group
          btn-group-justified">
        <div class="btn-group" role="group">
          <button
              (click)="learnText()"
              id="button-learn"
              class="btn btn-default">
            Learn Text
          </button>
        </div>

        <div class="btn-group" role="group">
          <button
              [attr.disabled]="bDownloadReady ? null : true"
              (click)="safeProbabilityTable()"
              id="button-download"
              class="btn btn-default">
            Download Matrix File
          </button>
        </div>
      </div>

      <button
          [ngClass]="{'hidden': inputMethod != 1}"
          (click)="checkText()"
          [attr.disabled]="bMatrixReady ? null : true"
          id="button-submit"
          class="form-control">
        Check
      </button>

    </div>


    <div
        *ngIf="bResultReady"
        class="col-xs-12 well"
        [ngClass]="{'alert-success':bResult,'alert-danger':!bResult}">
      <p>
        The word <b>{{sanitizedText}}</b> is
        <span *ngIf="bResult">likely</span>
        <span *ngIf="!bResult">unlikely</span>
      </p>
    </div>
  </div>
</div>
