<div class="outside">
  <div class="inside">

    <div style="padding: 5px;" class="col-xs-12 col-sm-6">
      <div class="jumbotron" style="padding: 20px;">

        <div class="col-xs-6">
          <h1><i class="fa fa-random fa-3x"></i></h1>
        </div>

        <div class="col-xs-6">
          <h2>
            Morse Decoder<br>
            <small>Morse without stops? No problem. You may get a lot of results, try out the filter!</small>
          </h2>
        </div>

        <div class="pull-right">
          <a class="btn btn-success btn-lg" [routerLink]="['/decoder']">Try it <i class="fa fa-angle-double-right"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div style="padding: 5px;" class="col-xs-12 col-sm-6">

      <div class="jumbotron" style="padding: 20px;">

        <div class="col-xs-6">
          <h1><i class="fa fa-link fa-3x"></i></h1>
        </div>

        <div class="col-xs-6">
          <h2>
            Makarov Chain<br>
            <small>A small tool to generate and test matrix-files for makarov-chains.</small>
          </h2>
        </div>

        <div class="pull-right" style="margin-bottom:0">
          <a class="btn btn-success btn-lg" [routerLink]="['/makarov-chain']">Try it <i class="fa fa-angle-double-right"></i></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>

</div>
