<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Morse Decoder</title>
  <base href="/">

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="styles/main.css" rel="stylesheet">

  <!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
  <script type="text/javascript">
    window.cookieconsent_options = {
      "message"  : "Diese Webseite nutzt Cookies um Nutzer autorisieren und Seitenzugriffe(selbstverständlich anonym) auswerten zu können.",
      "dismiss"  : "Got it!",
      "learnMore": "More info",
      "link"     : null,
      "theme"    : "dark-floating"
    };
  </script>

  <script type="text/javascript"
          src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.10/cookieconsent.min.js"></script>
  <!-- End Cookie Consent plugin -->

</head>
<body>
  <app-root>Loading...</app-root>
    {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
    {{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>
</body>
</html>
